


<launch>

  <arg name="clik_gain" default="0.5"/>

  <arg name="hz" default="1000.0"/>

  <arg name="dls_joint_speed_saturation" default="3.0"/>

  <arg name="second_obj_gain" default="0.0"/>

  
  <arg name="joint_target_robot" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"/>
 

  <arg name="joint_weights" default="[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"/>

  <arg name="n_T_e_position" default="[0.0, 0.0621, 0.0319]"/>
  <arg name="n_T_e_quaternion" default="[0.0, 0.0, -0.130520386232026, 0.991445625729340]"/>

  <node name="motoman_clik"  pkg="sun_motoman_nodes" type="motoman_clik" output="screen">

      <param name="clik_gain" value="$(arg clik_gain)"/>

      <param name="hz" value="$(arg hz)"/>

      <param name="dls_joint_speed_saturation" value="$(arg dls_joint_speed_saturation)"/>

      <param name="second_obj_gain" value="$(arg second_obj_gain)"/>

      <rosparam param="joint_target_robot_second_obj" subst_value="true">$(arg joint_target_robot)</rosparam>
      
      <rosparam param="joint_weights_second_obj" subst_value="true">$(arg joint_weights)</rosparam>

      <rosparam param="n_T_e_position" subst_value="true">$(arg n_T_e_position)</rosparam>
      <rosparam param="n_T_e_quaternion" subst_value="true">$(arg n_T_e_quaternion)</rosparam>

</node>

</launch>
